{% extends 'base.html' %}

{% block title %}World Stocks{% endblock %}

{% block content %}
<div class="custom-container mt-5">
    <h2 class="text-center">World Stocks</h2>

    <!-- Gainers Carousel -->
    <h3 class="text-center">Top Gainers</h3>
    <div id="gainersCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            {% for stock in gainers %}
            {% if forloop.counter0|divisibleby:3 %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row">
            {% endif %}
                    <div class="col-md-4">
                        <div class="card text-white bg-success mb-4 card-custom-height">
                            <div class="card-body card-body-custom">
                                <h5 class="card-title">{{ stock.name }}</h5>
                                <p class="card-text">Price: ${{ stock.price }}</p>
                                <p class="card-text">Change: {{ stock.change }}%</p>
                            </div>
                        </div>
                    </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#gainersCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#gainersCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Losers Carousel -->
    <h3 class="text-center mt-5">Top Losers</h3>
    <div id="losersCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            {% for stock in losers %}
            {% if forloop.counter0|divisibleby:3 %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row">
            {% endif %}
                    <div class="col-md-4">
                        <div class="card text-white bg-danger mb-4 card-custom-height">
                            <div class="card-body card-body-custom">
                                <h5 class="card-title">{{ stock.name }}</h5>
                                <p class="card-text">Price: ${{ stock.price }}</p>
                                <p class="card-text">Change: {{ stock.change }}%</p>
                            </div>
                        </div>
                    </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#losersCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#losersCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock %}
